main {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

body main section {
  width: 70%;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 10px #565656;
}

body main section>div {
  border-bottom: 1px solid #ff8a00;
  text-align: end;
  border-bottom-right-radius: 20px;
}

body main section>div>a {
  display: inline-block;
  border: 2px solid transparent;
  text-decoration: none;
  color: white;
  background-color: #ff8a00;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

body main section>div>a:hover {
  border: 2px solid #ff8a00;
  color: #ff8a00;
  background-color: transparent;
  font-weight: bold;
  transform: scale(1.05);
  transition: all 100ms linear;
}

main table td:last-child > div{
  gap: 0.8rem;
}

main table td:last-child > div .green:hover{
  transform: scale(1.3);
  transition: all 50ms linear;
  color: yellowgreen;
}
main table td:last-child > div .red:hover{
  transform: scale(1.3);
  transition: all 50ms linear;
  color: red;
}

.green {
  color: yellowgreen;
}

.grey {
  color: grey;
}

.red {
  color: red;
}


.btn_c{
    
  display: inline-block;
  text-decoration: none;
  color: #ff8c00;
  background-color: transparent;
  border: 2px solid #ff8c00;
  padding: 5px 10px;
  border-radius: 10px;
}

.btn_c:hover{
  color: #000000;
  border: 2px solid white;
  background-color: #ffb964;
}

.table th,
.table td {
  text-align: center !important;
}

.add form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #777777;
}

.add form input[type="submit"] {
  color: white;
  background-color: #ff8a00;
  border: 1px solid #ff8a00;
  border-radius: 10px;
}

.add form input[type="submit"]:hover {
  color: #ff8a00;
  background-color: white;
  transform: scale(1.1);
  transition: all 100ms ease;
}