main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #646464;
}

main a{
    color: black;
    border: 2px solid transparent;
    padding: 0 10px;
    border-radius: 30px;
}

main a:hover{
    color: #ff9d00;
    border-color: white;
    box-shadow: 0 0 5px #ff9d00;
}